<footer class="pv4">

	<div class="mw7 center pt3">



		<div class="measure-narrow center">
			<div class="flex justify-center">
				<ul class="mhn2 pa0 ma0">
					{{ partial "social-icon" (dict "link" "http://facebook.com/treesdraws" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "http://twitter.com/treesdraws" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "http://instagram.com/treesdraws" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "mailto:treesneal@gmail.com" "svg" "icons-email") }}
				</ul>
			</div>
		</div>
		<div class="measure-narrow center mb4 tc">
			<p>
				Copyright © 2019 Trees Neal
			</p>
		</div>
	</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>