<footer class="pv4">

	<div class="mw7 center pt3">



		<div class="measure-narrow center">
			<div class="flex justify-center">
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "http://facebook.com/treesdraws" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "http://twitter.com/treesdraws" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "http://instagram.com/treesdraws" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "http://ko-fi.com/treesdraws" "svg" "ko-fi") }}
				</ul>
			</div>
		</div>
		<div class="measure-narrow center mb4 tc">
			<p>
				Copyright © 2019 Trees Neal |
				<a href="{{ .Site.BaseURL}}/admin/">admin</a>
			</p>
			<p>
				Made by <a href="https://jameskim.co.nz">James Kim</a>
			</p>
		</div>
	</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>