<nav class="overflow-x-visible-ns items-center center bg-white relative">

	<!-- Logo -->
	<div class="center mw5">
		<a href="/" class="pa3 db h-100 flex-none">
			<img src="/img/trees-neal.png" alt="Trees Neal" class="br0 db mb0 mw5" />
		</a>
	</div>

	<!-- Primary Nav -->
	<div class="center mw6 flex justify-between">
		<a href="/about" class="no-underline">
			<img class="h2 " src="/img/about-black.png" alt=""></a>

		<a href="/illustrations" class="no-underline">
			<img class="h2" src="/img/illustrations-black.png" alt="">
		</a>

		<a href="/projects" class="no-underline">
			<img class="h2" src="/img/projects-black.png" alt="">
		</a>

		<a href="/contact" class="no-underline">
			<img class="h2" src="/img/contact-black.png" alt="">
		</a>
	</div>

</nav>