<nav class="overflow-x-visible-ns items-center center bg-white relative">

	<!-- Logo -->
	<div class="center mw5">
		<a href="/" class="pa3 db h-100 flex-none">
			<img src="/img/trees-neal.png" alt="Trees Neal" class="br0 db mb0 mw5" />
		</a>
	</div>

	<!-- Primary Nav -->
	<div class="center mw6 flex justify-between"kj>
		<a href="/about" class="no-underline">
			<img class="h2 dim" src="/img/menu-about.png" alt=""></a>

		<a href="/illustrations" class="no-underline">
			<img class="h2 dim" src="/img/menu-illustrations.png" alt="">
		</a>

		<a href="/projects" class="no-underline">
			<img class="h2 dim" src="/img/menu-projects.png" alt="">
		</a>

		<a href="/contact" class="no-underline">
			<img class="h2 dim" src="/img/menu-contact.png" alt="">
		</a>
	</div>

</nav>