{{ define "main" }}

<div class="ph2 bg-off-white">
	<div class="center mw pv3">
		<div class="cf ph2-ns">
			<div class="fl w-100 w-50-ns">
				<img src="{{ .Params.image }}" alt="" class="db w4 center pv4">
			</div>
			<div class="fl w-100 w-50-ns">
				{{ .Content }}
				<ul>
					{{ partial "social-icon-detail" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon-detail" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon-detail" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon-detail" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>
		  </div>

	</div>
</div>

{{ end }}
