{{ define "main" }}

<div class="ph2 bg-off-white">
    <div class="center mw7 pv3">
        <div>
            {{ .Content }}
        </div>
        <div class="grid pv3">
            {{ range .Params.illustrations }}
            <!-- <a data-fancybox="gallery-illustrations" 
            href="{{ .image }}"  
            class="link mw5 dt black hide-child br2 cover bg-center" 
            style="background-image: url('{{ .image }}')"
            data-caption="{{ .description }}">
                <span class="no-underline white dtc v-mid  w-100 h-100 child bg-black-40 pa5">
                        {{ .title }}
                      </span>
            </a> -->
            <a data-fancybox="gallery-illustrations" data-caption="{{ .description }}" href="{{ .image }}" style="background-image:url('{{ .image }}');"
                class="illustration idb aspect-ratio aspect-ratio--9x16 link hide-child dt black br2 cover bg-center flex justify-center bg-black-40">
                <div class="overlay"></div>
                <p class="tc illustration-thumbnail child no-underline white">
                    {{ .title }}
                </p>
            </a>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}