{{ define "main" }}

<div class="ph2 bg-off-white">
    <div class="center mw7 pv3">
        <div>
            {{ .Content }}
        </div>
        <div class="grid pv3">
            {{ range .Params.illustrations }}
            <div data-fancybox="gallery-illustrations"  href="{{ .image }}"
                style="background-image:url('{{ .image }}');" 
                class="illustration idb aspect-ratio aspect-ratio--9x16-ns aspect-ratio--1x1 link hide-child dt black cover bg-center flex justify-center bg-black-40">
                <div class="overlay"></div>
                <p class="tc illustration-thumbnail child no-underline white">
                    {{ .title }}
                </p>
                <figcaption style="display: none;" class="caption">
                    <h4>{{ .title }}</h4>
                    {{ if .description }}
                    {{ .description | markdownify }}
                    {{ end }}
                </figcaption>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}