@import './tachyons/tachyons';

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    grid-auto-rows: 1fr;
}

.illustration:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.7;
}

.illustration-thumbnail{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.project-main-image {
  flex-grow: 1;
  padding-bottom: 60%;
  background-position: 50% 50%;
  width: 100%;
}

.project-side-images {
}

.test {
  padding-bottom: 100%;
}

.project-image{
  display:inline-block;
  box-sizing: border-box;
  width: 33.33%;
  height: 50px;
  padding-bottom: 33.33%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


/* .project-image:nth-child(3){
  margin-right: 0.5%; 
  margin-left: 0.5%;
} */

